.body {
	height: 100vh; width: 100vw;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

:root {
	--pl-one: #0a9396;
	--pl-two: #ae2012; 
	--quenn: #ee9b00;
	--selected: #94d2bd;
	--black-cell: #001219;
	--white-cell: #e9d8a6;
}

.grid {
	width: 500px;
	aspect-ratio: 1;
	border: 20px solid var(--black-cell);
}

.line {
	width: 100%;
	height: calc(100% / 8);
	display: flex;
}

.cell {
	height: 100%;
	border: none;
	cursor: pointer;
	transition: .3s;
	aspect-ratio: 1;
	z-index: 0;
}


